.Main {
    display: flex;
    margin-top: 20px;
}

.Image {
    width: 40%;
}

img {
    display: block;
    margin: auto;
}

.text {
    color: gray;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.Bio {
    font-size: 150%;
    line-height: 1.5;
    
}

p {
    margin: 0;
}

div {
    white-space: pre-wrap;
}