body {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  background-color: black;
  color: rgb(75, 213, 238);
  font-weight: 400;
}

.nav-bar {
  display: flex;
  overflow: hidden;
}

.tab {
  overflow: hidden;
  float: left;
  text-align: center;
  justify-content: space-around;
  width: 25%;
  font-size: small;
}

.tab >h2:hover {
  background-color: black;
  color: rgb(75, 213, 238);
}
