body {
  font-family: 'Times New Roman', Times, serif;

}

h1 {
  background-color: black;
  color: rgb(75, 213, 238);
  font-weight: 400;
}

.nav-bar {
  display: flex;
  background-color: gray;
  /* overflow: hidden; */
  /* cursor: pointer; */
  /* height: 2%; */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.tab {
  /* overflow: hidden; */
  float: left;
  /* text-align: left; */
  justify-content: space-around;
  width: 25%;
}

.tab >h2:hover {
  background-color: darkgray;
  color: white;
}
