body {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1%;
}

h1 {
  background-color: black;
  color: rgb(75, 213, 238);
  font-weight: 600;
}

.nav-bar {
  background-color: gray;
  overflow: hidden;
  cursor: pointer;
  height: 2%;
}

.tab {
  overflow: hidden;
  float: left;
  text-align: left;
  justify-content: space-around;
  width: 25%;
}

.tab >h2:hover {
  background-color: darkgray;
  color: white;
}
